<div class="sidebar">
	<ul>
		<li	*ngFor="let item of sidebarItems; let i = index"
			   [ngClass]="{ 'heading_selected':item.selected, 'heading_unselected':!item.selected }"
			   (click)="onHeadingClick(i)">{{item.name}}</li>
	</ul>
</div>
<div class="content_box">
	<div class="box_header">
		<h1>{{sidebarItems[selectedItem].name}}</h1>
	</div>
	<!-- =======================================================Clients=========================================================== -->
	<div *ngIf="selectedItem == 0">
		<div class="btns">
			<div (click)="onClientListPageClick()"
				 [ngClass]="{ 'btn':(addClientSelectedButton!=2), 'btn_selected':(addClientSelectedButton==2)}"><p>Client List</p></div>
			<div (click)="onAddClientPageClick()"
				 [ngClass]="{ 'btn':(addClientSelectedButton!=0), 'btn_selected':(addClientSelectedButton==0)}"><p>Add Client</p></div>
			<div (click)="onRemoveClientPageClick()"
				 [ngClass]="{ 'btn':(addClientSelectedButton!=1), 'btn_selected':(addClientSelectedButton==1)}"><p>Remove Client</p></div>
			<div (click)="onUpdateClientPageClick()"
				 [ngClass]="{ 'btn':(addClientSelectedButton!=3), 'btn_selected':(addClientSelectedButton==3)}"><p>Update Client</p></div>
		</div>
		<div *ngIf="addClientSelectedButton==0" class="add_client_container">
			<div class="display_flex">
				<p>Nume:</p>
				<input id="addClientFNameBox" type="text" (change)="onInputChange($event)">
			</div>
			<div class="display_flex">
				<p>Prenume:</p>
				<input id="addClientLNameBox" type="text" (change)="onInputChange($event)">
			</div>
			<div class="display_flex">
				<p>CNP:</p>
				<input id="addClientCNPBox" type="text" (change)="onInputChange($event)">
			</div>
			<div class="display_flex">
				<p>Email:</p>
				<input id="addClientEmailBox" type="text" (change)="onInputChange($event)">
			</div>
			<div class="display_flex">
				<div id="register_btn" class="btn" (click)="onRegisterClick()"><p>Register client</p></div>
			</div>
		</div>
		<div *ngIf="addClientSelectedButton==1" class="remove_client_container">
			<div class="display_flex">
				<p id="cnpLabel">CNP:</p>
				<input id="removeClientTextBox" type="text" (change)="onInputChange($event)">
				<div class="btn" id="removeClientBtn" (click)="onRemoveBtnClick()"><p>Remove</p></div>
			</div>
			<div *ngIf="display_client">
				<table id="client_info_tabl">
					<tr>
						<td>{{removeClientId}}</td>
						<td>{{removeClientFirstName}}</td>
						<td>{{removeClientLastName}}</td>
						<td>{{removeClientCNP}}</td>
						<td>{{removeClientAbonament}}</td>
						<td>{{removeClientStart}}</td>
						<td>{{removeClientEnd}}</td>
						<td>{{removeClientEmail}}</td>
					</tr>
				</table>
				<p id="removeClientLabel">Are you sure you want to remove this client for the database?</p>
				<div class="display_flex">
					<div class="btn" (click)="onConfirmRemoveClick()"><p>Yes</p></div>
					<div class="btn" (click)="onCancelRemoveClick()"><p>No</p></div>
				</div>
			</div>
		</div>
		<div *ngIf="addClientSelectedButton==2">
			<div class="display_flex">
				<input id="filterTextBox" [(ngModel)]="currentFilter">
				<div id="filterBtn" class="btn" (click)="onFilterClick()">Filter by name</div>
			</div>
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>Nume</td>
						<td>Prenume</td>
						<td>CNP</td>
						<td>Abonament activ</td>
						<td>Inceput abonament</td>
						<td>Sfarsit abonament</td>
						<td>Email</td>
					</tr>
				</thead>
				<tr *ngFor="let client_entry of clientListPage">
					<td title="{{client_entry.id}}">{{client_entry.id}}</td>
					<td title="{{client_entry.firstname}}">{{client_entry.firstname}}</td>
					<td title="{{client_entry.lastname}}">{{client_entry.lastname}}</td>
					<td title="{{client_entry.cnp}}">{{client_entry.cnp}}</td>
					<td title="{{client_entry.abonament}}">{{client_entry.abonament}}</td>
					<td title="{{client_entry.start}}">{{client_entry.start}} </td>
					<td title="{{client_entry.end}}">{{client_entry.end}}</td>
					<td title="{{client_entry.email}}">{{client_entry.email}}</td>
				</tr>
			</table>
			<div class="display_flex">
				<div class="btn page_btn" (click)="onPrevClientPageClick()"><p>{{clientpagenumber}}</p></div>
				<div class="btn page_btn" (click)="onNextClientPageClick()"
					*ngIf="clientListPage.length==10"><p>{{clientpagenumber+1}}</p></div>
			</div>
		</div>
		<div *ngIf="addClientSelectedButton==3" class="remove_client_container">
			<div class="display_flex">
				<p>CNP:</p>
				<input type="text" id="updateCNPTextBox" [(ngModel)]="updateClientCNP" (change)="onUpdateCNPChange()">
				<div id="getdatabtn" class="btn" (click)="getDataBtn()"><p>Get data by CNP</p></div>
			</div>
			<div class="display_flex">
				<p>Nume:</p>
				<input type="text" id="updateFirstNameTextBox" [(ngModel)]="updateClientFirstName">
			</div>
			<div class="display_flex">
				<p>Prenume:</p>
				<input type="text" id="updateLastNameTextBox" [(ngModel)]="updateClientLastName">
			</div>
			<div class="display_flex">
				<p>Email:</p>
				<input type="text" id="updateEmailTextBox" [(ngModel)]="updateClientEmail">
			</div>
			<div class="display_flex">
				<div id="update_btn" class="btn" (click)="onUpdateClick()"><p>Update client</p></div>
			</div>
		</div>
	</div>
	<!-- =============================================Transaction Points====================================================== -->
	<div *ngIf="selectedItem == 1">
		<div class="make_trans_container">
			<div class="display_flex">
				<p>CNP Client:</p>
				<input [(ngModel)]="transactionCNP" type="text">
			</div>
			<div class="display_flex">
				<p>Tip abonament:</p>
				<select [(ngModel)]="selectedSubscription" (change)="onSelectSubChange($event)">
					<option *ngFor="let sub_entry of subtypes" value="{{sub_entry.id}}">{{sub_entry.name}}</option>
				</select>
			</div>
			<div class="display_flex">
				<p>Pret abonament:</p><p class="sub_price">{{display_price}} lei</p>
			</div>
			<div class="display_flex">
				<p>Data curenta:</p><p class="sub_price">{{currentDate}}</p>
			</div>
			<div class="display_flex">
				<div class="btn" (click)="onMakeTransactionClick()"><p>Make transaction</p></div>
			</div>
		</div>
	</div>
	<!-- =============================================Transaction Points====================================================== -->
	<div *ngIf="selectedItem == 2">
		<div class="tpoint_container">
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>Adresa</td>
						<td>Oras</td>
						<td>Cel mai bun client</td>
					</tr>
				</thead>
				<tr *ngFor="let point_entry of tpoints">
					<td>{{point_entry.id}}</td>
					<td>{{point_entry.address}}</td>
					<td>{{point_entry.city}}</td>
					<td>{{point_entry.bestclient}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
