<div class="profile_box">
	<div class="box_header">
		<h1>{{firstname}} {{lastname}}</h1>
	</div>
	<div class="profile_content">
		<div class="display_flex">
			<p>Nume:</p>
			<p class="profile_info">{{firstname}}</p>
		</div>
		<div class="display_flex">
			<p>Prenume:</p>
			<p class="profile_info">{{lastname}}</p>
		</div>
		<div class="display_flex">
			<p>Email:</p>
			<p class="profile_info">{{emailAddress}}</p>
		</div>
		<div class="display_flex">
			<p>CNP:</p>
			<p class="profile_info">{{cnp}}</p>
		</div>
	</div>
</div>