.profile_box{
	height: 300px;
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 100px;
	background-color: white;
	box-shadow: 1px 1px 5px lightgray;
}

.profile_content{
	margin-top: 25px;
	margin-left: 40px;
}

p{
	font-family: "Myriad Arabic";
	font-size: 20px;
	margin: 5px;
}

.profile_info{
	position: absolute;
	margin-left: 300px;
}